h2,h3{
    text-align: center;
    color: black;
}

p{
    text-align: center;
}
#countdownBox{
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
}

#timerBox {
    display: flex;
    justify-content: space-evenly; /* evenly spaces items */
    align-items: center;           /* vertically centers them */
    border-radius: 10px;
    background-color: aqua;
    padding: 20px;
}

#days, #hours, #minutes, #seconds {
    background-color: black;
    color: orange;
    padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
    min-width: 80px; /* helps keep consistent sizing */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}